<div class="container-form" style="width: 686px; margin: 10px auto;">
  
  <%= form_for(@list) do |f| %>
    <div class="field">
      <label>Nombre(s):</label>
      <%= f.text_field :nombre %>
    </div>
    <div style="clearfix: both;"></div>

    <div class="field">
      <label>Apellido(s):</label>
      <%= f.text_field :apellido %>
    </div>
    <div style="clearfix: both;"></div>

    <div class="field">
      <label>Escuela:</label>
      <%= f.text_field :escuela %>
    </div>

    <div class="field">
      <label>Grado de estudios:</label>
      <%= f.text_field :grado_estudio %>
    </div>

    <div class="field">
      <label>Telefono:</label>
      <%= f.text_field :telefono %>
    </div>

    <div class="field">
      <label>E-mail:</label>
      <%= f.text_field :correo %>
    </div>
    
    <div class="right">
      <%= f.submit 'Continuar', class: 'send' %>
    </div>
    
  <% end %>

</div>
