<div id="formulario">
  <div id="header"></div>
  <div class="body">
    <div class="registro">Paso 3</div>

      <%= form_for(@list, url: wizard_path, :method => :put) do |f| %>
        <div class="field">
          <label class="question">Cómo te enteraste de la semana de Arquitectura-Ingenieria?</label>
          <%= f.text_field :pregunta1, class: 'question' %>
        </div>

        <div class="field">
          <label class="question">Qué conferencias llaman más tu atención?</label>
          <%  
            conf = [
                      "Conferencia de Estrategias de diseño urbano arquitectónico",
                      "Taller de muros verdes",
                      "Conferencia de Vivienda Emergente",
                      "Conferencia de nuevas técnologias de anti-corrosivos",
                      "Taller sketchup",
                      "Conferencia de mejora continua en el sector de la construcción",
                      "Productividad de las empresas con las apps de telefonia celular y su impacto en México",
                      "Conferencia de Pisos 3D",
                      "Conferencia de vida profesional después de la universidad",
                      "Taller de Fibra Optica",
                      "Conferencia de Aplicaciones con Raspberry Pi",
                      "Conferencia de Energías renovables",
                      "Conferencia de Iluminación",
                      "Taller de domótica e iluminación para arquitectos",
                      "Conferencia de implementación de sistemas inteligentes",
                      "Conferencia de realidad aumentada",
                    ]
          %>
          <%= f.select :pregunta2, conf, {}, { multiple: true, class: 'question' } %>
        </div>

        <div class="field">
          <label class="question">Qué taller vas a tomar?</label>
          <%= f.text_field :pregunta3, class: 'question' %>
        </div>

        <div class="field">
          <label class="question">Qué temas te gustaría ver en un futuro?</label>
          <%= f.text_field :pregunta4, class: 'question' %>
        </div>

        <div class="right">
          <%= f.submit 'Finalizar', class: 'send' %>
        </div>
      <% end %>
      
    </div>
    <div id="foot">Semana de Arquitectura e Ingenieria (2 - 5 Mayo) 2017</div>
</div>
